/vendor/
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
.php_cs.cache
Hummingbird_Technologies-14ca29f7d1e2.json
/data/
/behat_gherkin_cache
/behat_rerun_cache
/Hummingbird/
