<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Hummingbird - DevOps challenge!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" sizes="32x32" />
        <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/icons.css') }}">
        <script src="{{ asset('js/materialize.min.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
